<!doctype html>
<html ng-app="UnitConversion">
  <head>
    <meta charset=utf-8>
    <title>HTML5 canvas demo</title>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>  
		<style>
		*{
			box-sizing:border-box;
			padding:0;margin:0;
			font-size:30px;
		}
		input{
			width: 100px;
			text-align: center;
			margin:0 10px;
		}
		.bsn{
			border:none;
		}
		.bw1{
			border:1px solid #eee;
		}
		</style>
  </head>
  <body ng-controller="UnitConversionController">
  <div>
    <pre>
	pt em % 单位换算，已知px
		pt = ( px * 3 ) / 4;
		em = pt / 12;
		% = (pt / 12) * 100;
	如
		pt = (8 * 3) / 4 = 6pt
		em = 8 / 12 = 0.5em
		% = 0.5 * 100 = 50%
	</pre>
	<input class="bsn" type="text" ng-model="pt"/>pt = (<input type="text" ng-model="px"/>* 3) / 4     <br/>
	<input class="bsn" type="text" ng-model="em"/>em = {{pt}} / 12   <br/>
    <input class="bsn" type="text" ng-model="Percentage"/>%  = {{pt}} / 12 * 100 <br/>
	</div>
	
  </body>
  <script>
	 var UnitConversion = angular.module('UnitConversion',[]);
	 UnitConversion.controller('UnitConversionController',['$scope',function($scope){
			$scope.px = 12;
		$scope.$watch(function(){
			$scope.pt = ($scope.px * 3) /4;
			$scope.em = $scope.pt / 12;
			$scope.Percentage = $scope.pt / 12 * 100;
		});
	 }]);
	 
	 
	 
  </script>
</html>