<!doctype html>
<html ng-app="CartModule">
  <head>
    <meta charset=utf-8>
    <title>HTML5 canvas demo</title>
    	<script src="angular.1.3.0-beta.17.js"></script>  
		<style>
		*{
			box-sizing:border-box;
		}
       
		</style>
  </head>
  <body>
      <div ng-controller="CartController">
		<div ng-repeat="item in items">
			<span>{{item.title}}</span>
			<input ng-model="item.quantity" />
			<span>{{item.price|currency}}</span>
			<span>{{item.price * item.quantity | currency}}</span>
		</div>
		<div> Total:{{bill.totalCart|currency}}</div>
		<div>Discount:{{bill.discount | currency}}</div>
		<div>Subtotal:{{bill.subtotal|currency}}</div>
	  </div>
  </body>
  <script>
	var CartModule = angular.module("CartModule",[]);
	CartModule.controller("CartController",['$scope',function($scope){
		$scope.bill = {};
		$scope.items = [
			{title:'sdf',quantity:8,price:3.95},
			{title:'sdf',quantity:8,price:3.95},
			{title:'sdf',quantity:8,price:3.95}
			
		];
		var calculateTotals = function(){
			var total = 0;
			for(var i=0, len = $scope.items.length; i< len; i++){
				total = total + $scope.items[i].quantity *$scope.items[i].price;
			}
			$scope.bill.totalCart = total;
			$scope.bill.discount = total >100 ? 10 : 0;
			$scope.bill.subtotal = total - $scope.bill.discount;
			counts++;
		}
	    $scope.$watch('items',calculateTotals,true);
	}]);
	 var counts=0;
  </script>
</html>
